:root #completions .sectionHeader {
    display: none;
}

:root #tridactyl-colon::before {
    content: ": ";
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 20% !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
}


:root.TridactylThemeTheme {
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-outline: none;
    --tridactyl-hint-bg: none;
    
    --tridactyl-hintspan-fg: black !important;
    --tridactyl-hintspan-bg: transparent !important;
    
    --tridactyl-hintspan-font-size: 14px;
}


span.TridactylHint {
    position: absolute !important;
    font-family: sans-serif !important;
    
    font-size: 32px !important;
    
    font-weight: bold !important;
    text-transform: uppercase !important;
    border-style: solid !important;
    padding: 0 0pt !important;
    text-align: center !important;
    
    color: black;
}
